    <!-- 后台管理系统侧边导航栏 Begin -->
    <div class="col s3">
        <div class="collection card-panel" style="overflow-y: auto; " id="overflow">
            <p><h5>management system</h5></p><br>
            <a href="__MODULE__/User" class="collection-item {$active.0}">用户信息管理</a>
            <a href="__MODULE__/Contact" class="collection-item {$active.1}">留言板管理</a>
            <a href="__MODULE__/Choiceness" class="collection-item {$active.2}">精选板块管理</a>
            <a href="__MODULE__/Link" class="collection-item {$active.3}">友情链接管理</a>
            <a href="__MODULE__/Find" class="collection-item {$active.4}">发现板块管理</a>
            <a href="__MODULE__/Fragment" class="collection-item {$active.5}">碎片板块管理</a>
            <a href="__MODULE__/Speak" class="collection-item {$active.6}">说出板块管理</a>
            <a href="__MODULE__/Shop" class="collection-item {$active.7}">商城板块管理</a>
            <a href="__MODULE__/Advertisement" class="collection-item {$active.8}">广告位管理</a>
            <a href="__MODULE__/Simple" class="collection-item {$active.9}">那年极简版管理</a>
            <a href="__MODULE__/Account" class="collection-item {$active.10}">管理员账号管理</a>
            <a href="__MODULE__/Admin" class="collection-item {$active.11}">微信管理</a><br>
            <a href="__MODULE__/Index/back" class="collection-item">退出后台管理</a>
        </div>
    </div>
    <!-- 后台管理系统侧边导航栏 End -->