<!DOCTYPE html>
<html>
<head lang="en">
    <title>日记详情</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <css href="__PUBLIC__/css/materialize.min.css" />
</head>
<body class="grey lighten-5">

<!--导航栏-->
<include file="Index/nav"/>

<!--########################## Content Begin  ################################-->
<div class="teal lighten-3" style="height: 190px;"></div>
<div class="row" style="position: relative; top: -150px;">
    <div class="col s12 l8 m10 offset-l2 offset-m1">
        <div class="card-panel white" style="height: 500px; overflow-y: auto">
            <p style="font-weight: bold">{$msg.time|date="20y年m月d日",###}</p>
            <br>
            <p>{$content}</p>
        </div>
    </div>
</div>
<!--########################## Content End  ################################-->

<!-- ##### 固定圆形浮动按钮 Begin #####-->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red waves-effect waves-light" href="__MODULE__/Person/write">
        <i class="large mdi-content-reply"></i>
    </a>
</div>
<!-- ##### 固定圆形浮动按钮 End #####-->

<!--引入页脚-->
<include file="Index/bottom" />

<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/materialize.min.js"></script>

<script type="text/javascript">
    //    模态框初始化
    $('.modal-trigger').leanModal();
    //    侧边导航栏初始化
    $(".button-collapse").sideNav();

</script>
</body>
</html>