<!DOCTYPE html>
<html>
<head lang="en">
    <title>文章详情</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <css href="__PUBLIC__/css/materialize.min.css" />
</head>
<body class="grey lighten-5">

<!--导航栏-->
<include file="Index/nav" />

<!--########################## Content Begin  ################################-->
<div class="teal lighten-3" style="height: 190px;"></div>
<div class="row" style="position: relative; top: -150px;">
    <div class="col s12 l8 m10 offset-l2 offset-m1">
        <div class="card-panel white">
            <br><br>
            <span class="grey-text"> 发现 FIND &nbsp; > &nbsp; MORE </span>
            <br><br>
            <h5>{$msg.title}</h5>
            <p>{$msg.content}</p>
        </div>
    </div>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red waves-effect waves-light" href="__MODULE__/Find/article">
        <i class="large mdi-content-reply"></i>
    </a>
</div>
<!--########################## Content End  ################################-->


<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/materialize.min.js"></script>

<script type="text/javascript">
    //    模态框初始化
    $('.modal-trigger').leanModal();
    //    侧边导航栏初始化
    $(".button-collapse").sideNav();

</script>
</body>
</html>