<!DOCTYPE html>
<html>
<head lang="en">
    <title>发现 FIND</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <css href="__PUBLIC__/css/materialize.min.css" />
    <style>
        .collapsible-body > a{
            margin-left: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
    <style>
        @font-face {
            font-family: xjl;
            src: url(__PUBLIC__/font/xjl.ttf);
        }
        .card {
            font-family: xjl;
            font-size: 30px;
        }
    </style>
</head>
<body class="grey lighten-5">

<!--用户登录模态框-->
<include file="Index/login"/>

<!--用户注册模态框-->
<include file="Index/register"/>

<!--导航栏-->
<include file="Index/nav" />

<!--##### 主内容界面 Begin #####-->
<br>
<div class="container">


    <volist name="msg" id="vo">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <h4 class="center" style="line-height: 2em">{$vo.title}</h4>
                    <div class="center">
                        <div class="video-container">
                            <iframe
                                    src="{$vo.src}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-content">
                        <p style="font-size: 20px">{$vo.description}</p>
                    </div>
                </div>
            </div>
        </div>
    </volist>

</div>

<!-- ##### 固定圆形浮动按钮 Begin #####-->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red waves-effect waves-light" href="__MODULE__/Find/index">
        <i class="large mdi-content-reply"></i>
    </a>
</div>
<!-- ##### 固定圆形浮动按钮 End #####-->



<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/materialize.min.js"></script>

<script type="text/javascript">

    //移动端侧边导航栏初始化
    $(".button-collapse").sideNav();

    //主导航栏下拉列表初始化
    $(".dropdown-button").dropdown();

    //模态框初始化
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });


</script>
</body>
</html>