<!-- ##### 顶部导航条 Begin #####-->
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="__MODULE__/Person/index">个人中心</a></li>
    <li><a href="__MODULE__/Person/edit">账号设置</a></li>
    <li><a href="__MODULE__/Person/write">写下昨天</a></li>
    <li><a href="__MODULE__/Index/exitLogin">退出</a></li>
</ul>
<nav class="red lighten-2">
    <div class="nav-wrapper">
        <a href="__MODULE__/Index/index" class="brand-logo"><img src="__PUBLIC__/images/public/logo.png" alt=""/></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
            <li class="{$active.0}"><a href="__MODULE__/Index/index">精选 CHOICENESS</a></li>
            <li class="{$active.1}"><a href="__MODULE__/Find/index">发现 FIND</a></li>
            <li class="{$active.2}"><a href="__MODULE__/Fragment/index">碎片 FRAGMENT</a></li>
            <li class="{$active.3}"><a href="__MODULE__/Speak/index">说出 SPEAK</a></li>
            <li class="{$active.4}"><a href="__MODULE__/Shop/index">商城 SHOP</a></li>
            <li><a href="javascript:" class="dropdown-button" data-activates="dropdown1"><i class="mdi-navigation-more-vert"></i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="__MODULE__/Index/index">精选 CHOICENCESS</a></li>
            <li><a href="__MODULE__/Find/index">发现 FIND</a></li>
            <li><a href="__MODULE__/Fragment/index">碎片 FRAGMENT</a></li>
            <li><a href="__MODULE__/Speak/index">说出 SPEAK</a></li>
            <li><a href="__MODULE__/Shop/index">商城 SHOP</a></li>
            <li class="divider"></li>
            <li><a href="__MODULE__/Person/index">个人中心</a></li>
            <li><a href="__MODULE__/Person/edit">账号设置</a></li>
            <li><a href="__MODULE__/Person/write">写下昨天</a></li>
            <li><a href="__MODULE__/Index/exitLogin">退出</a></li>
        </ul>
    </div>
</nav>
<!-- ##### 顶部导航条 End #####-->