<!DOCTYPE html>
<html>
<head lang="en">
    <title>Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <css href="__PUBLIC__/css/materialize.min.css" />
</head>
<body class="grey lighten-5">

<div class="row">

<include file="Index/nav"/>

    <!-- 后台主界面部分 Begin -->
    <div class="col s9">
        <!--##### 主体表格部分 Begin #####-->
        <div class="row">
            <div id="test1" class="col s12">
                <div class="card-panel">
                    <table class="centered">
                        <thead>
                        <tr>
                            <th data-field="content">回帖内容</th>
                            <th data-field="username">回帖用户</th>
                            <th data-field="time">回帖时间</th>
                            <th data-field="operate">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="msg" id="vo">
                            <tr>
                                <td>{$vo.content}</td>
                                <td>{$vo.username}</td>
                                <td>{$vo.time|date="y-m-d h:s",###}</td>
                                <td>
                                    <a href="__URL__/deleteReply?id={$vo.time}">删除帖子</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
                <!--分页-->
                <br>
                <ul class="pagination center">{$pageinfo}</ul>
            </div>
        </div>
        <!--##### 主体表格部分 Begin #####-->
    </div>

    <!-- add按钮 -->
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red" href="__MODULE__/Speak/index">
            <i class="large mdi-content-reply"></i>
        </a>
    </div>
</div>
    <!-- 后台主界面部分 End -->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/materialize.min.js"></script>
<script>
    //初始化标签
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
</script>
</body>
</html>