<!DOCTYPE html>
<html>
<head lang="en">
    <title>那年</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <css href="__PUBLIC__/css/materialize.min.css" />
</head>
<body class="grey lighten-5">
<!--用户登录模态框-->
<include file="login"/>

<!--用户注册模态框-->
<include file="register"/>

<!--导航栏-->
<include file="nav" />

<!--##### 主内容界面 Begin #####-->
<div class="container">

    <!--### 那年今日模块 Begin ###-->
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="__PUBLIC__/images/index/{$photo.src}">
        </div>
        <div class="card-content">
       <span class="card-title activator grey-text text-darken-4">那年今日 <small>That year today</small><i
               class="mdi-navigation-more-vert right"></i></span>
            <p><a>Click photo to read</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">那年今日 <small>That year today</small> <i
                    class="mdi-navigation-close right"></i></span><br>
            <volist name="news" id="vo">
                <p>{$vo}</p>
            </volist>
        </div>
    </div>
    <!--### 那年今日模块 End ###-->

    <!--### 主内容模块 Begin ###-->
    <volist name="article" id="vo">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-title">{$vo.title}</h2>
                        <p>{$vo.description} ...</p>
                    </div>
                    <div class="card-action">
                        <a href="__MODULE__/Index/more?id={$vo.id}">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </volist>

    <!--### 广告模块 Begin ###-->
    <if condition="$avt_status == 1">
        <div class="row">
            <div class="col s12 m12">
                <a href="{$avt_msg.href}">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="card-title black-text" style="font-weight: bold">广告</h4>
                            <p class="black-text">{$avt_msg.content}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <else/>
    </if>
    <!--### 广告模块 End ###-->

    <!--### 主内容模块 End ###-->

</div>
<!--##### 主内容界面 End #####-->


<!-- ##### 固定圆形浮动按钮 Begin #####-->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red waves-effect waves-light" href="__MODULE__/Person/index">
        <i class="large mdi-action-home"></i>
    </a>
</div>
<!-- ##### 固定圆形浮动按钮 End #####-->

<!--页脚面板与留言板模态框-->
<include file="footer" />

<!--##### 跳转极简版 Begin #####-->
<!-- Modal Structure -->
<div id="modal5" class="modal">
    <div class="modal-content">
        <h5>提示</h5>
        <p>系统检测到您可能为高龄用户，可以点击下方按钮进入极简模式</p>
        <p>在极简模式下操作将变得异常简单，字体也会相应放大，更便于您的观看!</p>
    </div>
    <div class="modal-footer">
        <a href="__MODULE__/Simple" class=" modal-action modal-close waves-effect waves-green btn-flat">切换极简模式</a>
        <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">不用了</a>
    </div>
</div>
<!--##### 跳转极简版 Begin #####-->

<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/materialize.min.js"></script>

<script type="text/javascript">

    //移动端侧边导航栏初始化
    $(".button-collapse").sideNav();

    //主导航栏下拉列表初始化
    $(".dropdown-button").dropdown();

    //    模态框初始化
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });

    //Toast
    setTimeout(function() {
        Materialize.toast('欢迎回来 {$info.username}~', 3000);
    }, 1000);

    //如果用户属于status3，则提示用户可进入极简状态
    <if condition="$info.status == 3">
        $('#modal5').openModal();
    </if>

</script>
</body>
</html>