<!--##### Login Begin #####-->
<div id="modal1" class="modal">
    <form action="index.php" method="post">
        <div class="modal-content">
            <table>
                <thead>
                <tr>
                    <th data-field="id">用户登录</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>用户名 : </td>
                    <td><label>
                        <input type="text" name="login_name"/>
                    </label></td>
                </tr>
                <tr>
                    <td>密码 : </td>
                    <td><label>
                        <input type="password" name="login_pass"/>
                    </label></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat teal lighten-2">Login
            </button>
            <button type="button" class=" modal-action modal-close waves-effect waves-green btn-flat">Return</button>
        </div>
    </form>
</div>
<!--##### Login End #####-->